header{
    display: flex;
    margin-bottom:100px;
}


.ttl{
    color:rgba(0, 39, 126, 1);
    font-size: 40px;
    margin:20px 0 0 30px ;
}

.nav {
    display: flex;
    margin-left: auto;
}

.nav-list {
    display: flex;
    color: rgba(0, 39, 126, 1);
}

.nav-item {
    margin:25px 50px 0 0 ;
    font-weight: bold;
    font-size:18px
}


a {
    text-decoration: none;
    color: inherit;
}

.img-top img{
    display: block;
    width:50vw;
    height:60vh;
    margin:0 0 -200px auto;
}

.txt{
    font-weight: normal;
    font-size: 5vw;
}

.img-bottom {
display: block;
    width: 75vw;
    height: 25vh;
    background-color:rgba(0, 39, 126, 1);

}